.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    width: 15rem;
    height: 15rem;
    border: 1px solid var(--secondary-color);
}

.container+.container {
    margin-left: 1rem;
}

.subcontainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete {
    width: fit-content;
    padding: 0.75rem;
    border-radius: 50%;
    background-color: inherit;
    color: var(--main-font-color);
    border: 1px solid var(--secondary-color);
    transition: 300ms;
}

.delete:hover {
    background-color: var(--primary-color);
    filter: brightness(1.05);
    cursor: pointer;
}