.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 0.5rem;
    width: 18rem;
    height: 10rem;
    border: 1px solid var(--secondary-color);
    margin: 0.5rem;
}

.subcontainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete {
    width: fit-content;
    padding: 0.3rem;
    border-radius: 50%;
    background-color: inherit;
    color: var(--main-font-color);
    border: 1px solid var(--secondary-color);
    transition: 300ms;
}

.delete:hover {
    background-color: var(--primary-color);
    filter: brightness(1.05);
    cursor: pointer;
}

.description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 0.5rem;
}

.info {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text {
    margin: 0;
}