.background {
  position: fixed;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background-color: rgba(138, 186, 224, 0.397);
  filter: blur(4px);
}

.container {
  width: 30rem;
  padding: 2rem;
  border-radius: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
}

.form {
  display: flex;
  flex-direction: column;
}

.subcontainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.button {
  width: 100%;
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: var(--primary-color);
  color: var(--main-font-color);
  border: 1px solid black;
  transition: 300ms;
  font-size: 14px;
  font-weight: 700;
}

.button:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

.input {
  resize: none;
  padding: 0.25rem;
  border-radius: 0.2rem;
  width: 80%;
  border: 1px solid black;
}

.input:focus {
  outline: none;
}

.select {
  padding: 0.25rem;
  border-radius: 0.2rem;
}