.background {
  position: fixed;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background-color: rgba(138, 186, 224, 0.397);
  filter: blur(4px);
}

.container {
  width: 30rem;
  padding: 2rem;
  border-radius: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
}

.subcontainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}